html, body {
    height: 100%;
}

* {
    box-sizing: border-box;
    font-family: Roboto;

}

.container {
    display: grid;
    grid-template-rows: 50px 100px 500px 200px;
    grid-template-areas: 
        "nav nav nav"
        ". . ."
        "body body body"
        "footer footer footer";
}

nav {
    grid-area: nav;
    box-shadow: 0 0 3px #95a5a6;

}

nav ul {
    list-style: none;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:visited {
    color: black;
}

.login-container {
    grid-area: body;
    width: 500px;
    margin: auto;
    box-shadow: 0 0 3px #95a5a6;
    padding: 20px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 70px;
    border-radius: 10px;
}

.login-container form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.login-container form input {
    margin-bottom: 20px;
    background-color: #f1f2f6;
    border: 0;
    border-radius: 10px;
    height: 40px;
    padding: 20px;
}

.login-container form button {
    background-color: white; /* Green */
    border: none;
    color: #1e3799;
    border: solid 1px #1e3799;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100px;
    font-weight: 900;
    border-radius: 15px;
    margin: auto;
}

.login-container form h1 {
    color: #747d8c;
    font-size: 4em;
    margin-bottom: 50px;
}