* {
    box-sizing: border-box;
    font-family: Roboto;

}



.container {
    display: grid;
    grid-template-areas: 
        "nav nav nav"
        ". . ."
        "body body body";
}

nav {
    grid-area: nav;
}

nav ul {
    list-style: none;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:visited {
    color: black;
}

.login-container {
    grid-area: body;
    width: 500px;
    margin: auto;
}

.login-container form {
    display: flex;
    flex-direction: column;
    text-align: center;
}